.Middler {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}

.Middler span {
    font-size: 31px;
}

.Middler input {
    margin-right: 17px;
    height: 40px;
    width: 350px;
    background-color: rgb(241,241,241);
    border-width: 0;
    outline:none;
    padding-left: 10px;
}