.SecondaryCity {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 45%;
}

.SecondaryInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.SecondaryInfo span {
    font-size: 31px;
    font-weight: bold;
}

.SecondaryInfo div {
    display: flex;
    align-items: center;
}

.SecondaryCity button {
    width: 30px;
}